/* regole generali */
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.row:after{
  content: "";
  clear:both;
  display: table;
}

.row{
  overflow-y: hidden;
}

/* regole header */

.side-bar-mobile{
  display:none;
}

.side-bar-mobile, .aside-nav{
  overflow-y: auto;
}

.barra-upgrade{
  width:calc(100% - 250px);
  height: 70px;
  background-color: rgb(8, 11, 18);
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;

}

.barra-upgrade a{
  border: 1.5px solid white;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  font-size: 12px;
  transition: scale(1.1);
}

.barra-upgrade span:hover{
  transform: scale(1.1);
}

.aside-nav{
  width:250px;
  height: calc(100vh - 94px);
  background-color: rgb(0, 0, 0);
  float: left;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 100px;
  padding: 18px 0;
}
.aside-mainactions img{
  width: 20px;
}

.aside-mainactions span{
  vertical-align:super;
  font-size: 13px;
}

.aside-mainactions li:first-child span{
  color: white;
}

.aside-mainactions li:first-child:before{
  content: "";
  border-left: 2.5px solid rgb(173, 255, 47);
  border-radius: 1px;
  width: 50%;
  vertical-align: top;
}

.aside-nav ul{
  padding: 10px 0;
}

.newplaylist{
  padding-top: 10px;
}

.plus{
  font-size: 30px;
  color:black;
  padding:0 8px;
  background-color:rgb(163, 163, 163);
}

.plus:hover{
  background-color: white;
}

.ad-play{
  vertical-align:super;
  padding-left: 7px;
}

.playlist-mother{
  flex-grow: 1;
  overflow-y:auto;
}

.playlist-items{
  padding:5px 0;
  font-size: 10px;
}

.user-profile>div:first-child{
  width: 90%;
  padding-bottom: 6px;
  border-bottom:  1px solid rgb(163, 163, 163);
}

.user-profile img, .user-mobile img{
  width: 25px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 50%;
  background-color: rgb(163, 163, 163);
  margin: 8px 0;
}

.flexrow{
  display: flex;
  align-items: center;
}

.profile-name{
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  color: white;
}

.aside-nav a{
  color:rgb(163, 163, 163);
  font-weight: 600;
  font-size: 10px;
}

.aside-nav a:hover{
  color:white;
}

.fa-arrow-alt-circle-down{
  margin-right: 6px;
}

/* regole main */

.music-library{
  float: right;
  width:calc(100% - 250px);
  height: calc(100vh - 60px - 94px);
  overflow-y: auto;
  background-color: rgb(20, 25, 34);
  padding: 0 20px 70px 20px;
}

.music-library h2{
  color: white;
}

.appsections{
  padding: 20px;
  text-align: center;
}

.appsections li{
  display: inline-block;
  padding-bottom: 15px;

}

.appsections li a{
  color:rgb(125, 127, 132);
  padding: 0 6px;
  font-size: 11px;
  font-weight:bold ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appsections li a:hover{
  color: white;
}

.appsections li:first-child a::after{
  content: "";
  border-bottom: 2.5px solid rgb(173, 255, 47);
  border-radius: 1px;
  margin-top: 6px;
  width: 40%;
}

.music-selection{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0 40px 0;
}

.less{
  display: flex;
  justify-content:flex-start;
}

.two{
  margin-right: 26px;
  justify-content: flex-start;
}

.anteprima{
  width: calc(100% / 6 - 20px);
  min-width: 75px;
  min-height: 170px;
  list-style-type: none;
  text-align: center;
}

.anteprima .img-box img{
width: 100%;
}

.anteprima .img-box{
  position: relative;
}
.overlay-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: .5s ease;
  opacity:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-img a{
  font-size: 70px;
  color: white;
}


.anteprima .img-box:hover .overlay-img {
  opacity: 1;
}

.circle-img{
  border-radius: 50%;
}

.anteprima h4{
  padding: 10px 0 7px 0;
  font-size: 14px;
}
.small-gray{
  color:rgb(125, 127, 132);
  font-size: 11px;
  font-weight:600 ;
}

/* regole footer */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 900;
}

.music-player{
  width: 100%;
  height: 94px;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.left-side{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  width: 30%;
}

.left-side img{
  width: 20%;
  padding:0 15px;
}

.left-side-text{
  display: flex;
  flex-direction: column;
}

.left-side-icons ul{
  padding-left: 50px;
}

.left-side-icons ul li{
  display: inline-block;
  padding-right: 10px;
}

.left-side-icons ul li a{
  color: rgb(163, 163, 163)
}

.center-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.input-play li{
  display: inline-block;
  padding:0 13px 0 13px;

}

.input-play a{
  font-size: 20px;
  color: rgb(255, 255, 255)
}

.input-play .play{
  font-size: 30px;
}

.center-side .progress-bar-box::before{
  content: "0:25";
  font-size:10px;
  padding-right:20px;

}

.center-side .progress-bar-box::after{
  content: "4:35";
  font-size:10px;
  padding-left:20px;

}
.progress-bar-box{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 86%;
  height: 30px;
}

.progress-bar{
  background: rgba(255,255,255,0.1);
 justify-content: flex-start;
 border-radius: 100px;
 align-items: center;
 position: relative;
 display: flex;
 height: 6px;
 width: 80%;
}

.progress-value{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  border-radius: 50px;
  background: #fff;
  height: 6px;
  width: 25%;
}

.circle-progress-bar{
   border-radius:100%;
   height: 10px;
   width: 10px;
   background: #fff;
   display: none;
}

.progress-bar-box:hover .circle-progress-bar{
  display: block;
}

.progress-bar-box:hover .progress-value{
  background: rgb(173, 255, 47);
}

.fas:hover, .far:hover{
  transform: scale(1.1);
  color: white;
}

.right-side{
  width: 30%;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.right-side ul li{
  display: inline-block;
}

.right-side ul{
  white-space: nowrap;
}

.right-side a{
  color: rgb(255, 255, 255);
  padding: 0 10px ;
}

.right-side .progress-bar-box{
  width: 50%;
}
